$clr-primary: #2194f0;

$clr-error: #ff6347;
$clr-warning: #f0f08a;
$clr-success: #65ec65;

$clr-dark: #222;
$clr-dark2: #333;
$clr-dark3: #444;

$clr-light: #fff;
$clr-light2: #eee;
$clr-light3: #d3d3d3;
$clr-light6: #aaa;
