$clr-primary: #2194f0;

$clr-error: #f08080;
$clr-warning: #ffffa8;
$clr-success: #90ee90;

$clr-dark: #222;
$clr-dark2: #333;
$clr-dark3: #444;

$clr-light: #fff;
$clr-light2: #eee;
$clr-light6: #aaa;
